<center>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?{{query_get_param}}&page={{ page_obj.previous_page_number }}&page_size={{ page_obj.paginator.per_page }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% if page_obj.number|add:'-4' > 1 %}
            <li><a href="?{{query_get_param}}&page=1&page_size={{ page_obj.paginator.per_page }}">1</a></li>
            {% if page_obj.number|add:'-5' > 1 %}
            <li><a>&hellip;</a></li>
            {% endif %}
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                <li><a href="?{{query_get_param}}&page={{ i }}&page_size={{ page_obj.paginator.per_page }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'5' %}
            <li><a>&hellip;</a></li>
            {% endif %}
            <li><a href="?{{query_get_param}}&page={{page_obj.paginator.num_pages}}&page_size={{ page_obj.paginator.per_page }}">{{page_obj.paginator.num_pages}}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?{{query_get_param}}&page={{ page_obj.next_page_number }}&page_size={{ page_obj.paginator.per_page }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</center>
