{% load helpers %}

<form class="form-inline search_bar text-center {% if not query.is_valid %}has-error{% endif %}" method='get' {% if filter_url is not None %}action="{{filter_url}}" {% endif %}>
    <script>
        var objectCompletions = {{ filters_model | filters_model_to_completions | to_json | safe }};
    </script>

    <script src="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/mode/simple.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/edit/matchbrackets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/hint/show-hint.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/display/placeholder.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/addon/hint/show-hint.css"/>
    <style>
        .CodeMirror {
            display: inline-block;
            height: auto;
            width: calc(100% - 250px);
            vertical-align: middle;
            text-align: left;
            border: 1px solid silver;
        }
        .CodeMirror pre.CodeMirror-placeholder { color: #999; }
        .CodeMirror-hint .help {
            color: grey;
        }
        .CodeMirror-hint-active .help {
            color: lightgrey;
        }
    </style>
    <script>
        // CI Bug Log query lexer, for syntax highlighting
        var comment = {regex: /#.*/, token: "comment"};
        CodeMirror.defineSimpleMode("cibuglog-query", {
            start: [
                {regex: /\(/, indent: true},
                {regex: /\)/, dedent: true},
                {regex: /NOT/, token: "keyword"},
                {regex: /\w+/, token: "variable", next: "operator"},
                comment,
            ],
            operator: [
                {regex: /=|!=|>|<|>=|<=|~=/, token: "operator", next: "value"},
                {regex: /IS IN|NOT IN|I?CONTAINS|MATCHES/, token: "keyword", next: "value"},
                comment,
            ],
            value: [
                {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string", next: "binop"},
                {regex: /'(?:[^\\]|\\.)*?(?:'|$)/, token: "string", next: "binop"},
                {regex: /\d+/, token: "number", next: "binop"},
                {regex: /\[[^\]]*\]/, token: "string", next: "binop"}, // array
                {regex: /\w+\([^)]*\)/i, token: "string", next: "binop"}, // call
                {regex: /NONE|TRUE|FALSE/, token: "atom", next: "binop"},
                comment,
            ],
            binop: [
                {regex: /AND|OR/, token: "keyword", next: "start"},
                comment,
            ],
            meta: {
                lineComment: "#",
            },
        });

        CodeMirror.registerHelper("hint", "cibuglog-query", function(cm, options) {
            // Extract current token and word
            var token = cm.getTokenAt(cm.getCursor());
            var wordRange = cm.findWordAt(cm.getCursor());
            var word = cm.getRange(wordRange.anchor, wordRange.head);
            if (/\s/.test(word) || (token.state.state == "start" && word == "(")) {
                word = "";
                wordRange.anchor = wordRange.head;
            }

            // Build a list of possible completions
            var completions = null;
            if (token.state.state == "start" || token.type == "variable") {
                completions = [
                    {text: "NOT"},
                ].concat(objectCompletions);
            } else if (token.type == "string") {
                completions = null; // Don't try to complete values
            } else if (token.state.state == "binop") {
                completions = [
                    {text: "AND"},
                    {text: "OR"},
                ];
            } else if (token.state.state == "operator") {
                completions = [
                    {text: "=", help: "Is equal to"},
                    {text: "!=", help: "Is not equal to"},
                    {text: "<", help: "Is strictly less than"},
                    {text: ">", help: "Is strictly greater than"},
                    {text: "<=", help: "Is less than or equal"},
                    {text: ">=", help: "Is greater than or equal"},
                    {text: "~=", help: "Matches a regular expression"},
                    {text: "IS IN", help: "Is in a list of values"},
                    {text: "NOT IN", help: "Is not in a list of values"},
                    {text: "CONTAINS", help: "Contains a substring"},
                    {text: "ICONTAINS", help: "Case-insensitive version of CONTAINS"},
                    {text: "MATCHES", help: "Matches a regular expression"},
                ];
            }
            if (completions == null) {
                return null;
            }

            // Filter completions with the current word
            var found = [];
            for (var i = 0; i < completions.length; i++) {
                var comp = completions[i];
                if (comp.text.slice(0, word.length) == word && comp.text != word) {
                    found.push(comp);
                }
            }
            if (word == "") {
                // Word is empty, use all suggestions
                found = completions;
            }

            return {
                list: found.map(function(comp) {
                    return {
                        text: comp.text,
                        render: function(elt, self, data) {
                            elt.innerHTML += comp.text;
                            if (comp.help) {
                                elt.innerHTML += ' <span class="help">' + comp.help + '</span>';
                            }
                        },
                    };
                }),
                from: wordRange.anchor,
                to: wordRange.head,
            };
        });
    </script>

    <label for="userFilteringQuery">Filter</label>

    <input type="text" id='userFilteringQuery' class="form-control" placeholder="Query" name='query' value='{{query.user_query}}'/>
    <script>
        var KEY_ESCAPE = 27;

        var textarea = document.getElementById("userFilteringQuery");
        var cm = CodeMirror.fromTextArea(textarea, {
            mode: "cibuglog-query",
            lineNumbers: false,
            viewportMargin: Infinity,
            matchBrackets: true,
            extraKeys: {
                "Ctrl-Space": "autocomplete",
                "Enter": function(cm) {
                    $("#userFilteringQuery").parent('form').submit();
                }
            },
        });

        cm.on("keyup", function (cm, event) {
            if (!cm.state.completionActive && event.keyCode != KEY_ESCAPE) {
                CodeMirror.commands.autocomplete(cm, null, {
                    completeSingle: false,
                });
            }
        });
        cm.on("focus", function (cm, event) {
            if (!cm.state.completionActive) {
                CodeMirror.commands.autocomplete(cm, null, {
                    completeSingle: false,
                });
            }
        });
    </script>

    <button type="submit" class="btn btn-primary mb-2">Filter</button>
    <a href="#" class="btn btn-default mb-2" title="Help!" data-inform-target="searchbox_doc"><span class="glyphicon glyphicon-question-sign"/></a>
</form>

<div id="searchbox_doc" class="hidden">
    <p>This view allows you to restrict the data that is used to generate the metrics.</p>

    <p>The base of the query language is structured as followed. A basic expression follows the following format:</p>

    <p>$object $operator $value</p>

    <p>The base expressions can then be combined with each other using the AND, OR, or NOT operators. Priorities should be enforced using parenthesis.</p>

    <h4>Available objects and values</h4>
    <p>The following objects can be used for filtering:</p>

    <table class="table table-striped table-hover table-bordered table-sm sortable">
        <tr><th>Object name</th> <th>Type</th> <th>Description</th></tr>
        {% for obj_name, filter in filters_model.filter_objects_to_db.items %}
            <tr><td>{{obj_name}}</td> <td><span class="userfilter_object_type" title="{{filter.documentation}}">{{filter.data_type}}</span></td> <td>{{filter.description}}</td></tr>
        {% endfor %}
    </table>

    <h4>Available helpers</h4>

    <table class="table table-striped table-hover table-bordered table-sm">
        <tr><th>Helper</th><th>Description</th></tr>
        <tr><td>ago(duration)</td><td>Allows specifying a datetime as a relative time from now. For example ago(3 days 12:00:00) means the time it was 3 days and 12 hours ago.</td></tr>
    </table>

    <h4>Available operators</h4>

    <table class="table table-striped table-hover table-bordered table-sm">
        <tr><th>Operator</th><th>Description</th></tr>
        <tr><td>=, !=</td><td>Check if the object is equal / not equal to the value. Applicable to all types of value</td></tr>
        <tr><td>&gt;, &lt;, &gt;=, &lt;=</td><td>Make comparisons. Applicable to integer, datetime and duration types</td></tr>
        <tr><td>CONTAINS, ICONTAINS</td><td>Check if the object contains the substring given as a value. Use ICONTAINS for the search to be case-incensitive</td></tr>
        <tr><td>MATCHES, ~=</td><td>Check if the object matches a certain regular expression</td></tr>
        <tr><td>IS IN, NOT IN</td><td>Check if the object is in (or not in) a list of values. Example: runconfig_name IS IN ['RUN1', 'RUN2'].</td></tr>
    </table>

    <h4>Examples</h4>
    <ol>
        <li><a href="{{metrics_passrate_url}}?query=runconfig_added_on > datetime(2018-12-12)">runconfig_added_on > datetime(2018-12-12)</a>: Only use the data coming from run configurations added after 2018-12-12</li>
        <li><a href="{{metrics_bugs_url}}?query=NOT creator_email CONTAINS toto.tata@">NOT creator_email CONTAINS toto.tata@</a>: do not use data created by a person who has toto.tata@ in his/her email address</li>
        <li><a href="{{metrics_bugs_url}}?query=NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'"</a>NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'</a>: Same as the previous example, but further restrict the results by only displaying bugs whose status contains the string WONTFIX</li>
        <li><a href="{{metrics_passrate_url}}?query=(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)">(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)</a>: Only use the data coming from run configuration added before 2018-12-12 and containing either DRM_39 or DRM_389 in name</li>
    </ol>
</div>
