{% extends 'CIResults/base.html' %}

{% block title %}Passrate per test{% endblock %}

{% block content %}
    {% load helpers %}{% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

    <!-- TODO: Add a per-testsuite pass rate, run rate, and discarded results charts -->

    <div class="panel panel-default panel-info">
        <div class="panel-heading">Information about the selected results</div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Involved Run configs</td><td>{{history.runconfigs|csl:"runconfig:CIResults/basic/runconfig_lite.html"}}</td></tr>
                    <tr><td>Involved Machines</td><td>{{history.machines|csl:"machine:CIResults/basic/machine.html"}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#tabular_view" class="text-info">
                Aggregated passrate = {{history.statistics.passrate}}, Run rate = {{history.statistics.runrate}}, Discarded rate = {{history.statistics.discarded_results}}
            </a>
            <a class="btn btn-default btn-xs pull-right" href='#' download='status_per_test.csv' title="Download as CSV" data-table-as-csv='tbl_tests'><span class="glyphicon glyphicon-download-alt"/> CSV</a>
        </div>
        <div id="tabular_view" class="panel-body panel-collapse collapse">
            <table id='tbl_tests' class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                <tr>
                    <th>Test Name</th>
                    <th title="Status and its occurence rate">Status, occ. rate</th>
                    <th>Issues hit, occ. rate</th>
                </tr>
                </thead>
                <tbody>
                    {% for test, results in history.tests.items %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                            <td>{% if results.is_fully_discarded %}discarded (expected){% else %}{% if results.worst_failures|length > 0 %}<a href="{% url 'CIResults-testresult-detail' results.worst_failures.0 %}">{{results.overall_result}}</a>, {{results.rate_of_worst_failure}}{% else %}{{results.overall_result}}{% endif %}{% endif %}</td>
                            <td><ul>
                                {% for issue, rate in results.issue_occurence_rates.items %}
                                <li>{% include "CIResults/basic/issue.html" with issue=issue %}, {{rate}}</li>
                                {% endfor %}
                            </ul></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-warning">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                Most-hit issues ({{history.most_hit_issues|length}})
            </a>
        </div>
        <div id="most-hit-issues" class="panel-body panel-collapse collapse">
            <div class="form-inline column-selector" data-table-class='bugs' data-table-downloadable-as='most-hit-issues.csv'></div>
            <table id='tbl_issues' class="table table-striped table-hover table-bordered table-sm sortable bugs">
                <thead>
                <tr>
                    <th data-visibility='always'>Bug ID</th>
                    <th data-visibility='show'>Bug Status</th>
                    <th data-visibility='show'>Last Updated</th>
                    <th data-visibility='show'>Bug Summary</th>
                    <th>Component</th>
                    <th>Priority</th>
                    <th>Severity</th>
                    <th>Tags</th>
                    <th>Assignee</th>
                    <th data-visibility='always'>Hit rate</th>
                </tr>
                </thead>
                <tbody>
                    {% for issue, rate in history.most_hit_issues.items %}
                        <tr>
                        <!-- Bug ID -->
                        <td>
                        {% include "CIResults/basic/issue_minimal.html" with issue=issue %}
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{% include "CIResults/basic/bug.html" %}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Status -->
                        <td>
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.status}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Updated -->
                        <td>
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.updated|timesince}} ago</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Summary -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.title}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Component -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.component}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Priority -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.priority}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Severity -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.severity}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Tags -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{% if bug.tags_list|length > 0 %}{{bug.tags_list|join:", "}}{% else %}No tags found{% endif %}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Assignee -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.assignee}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <td>{{rate}}</td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="5" style="text-align: center;">No issues hit</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
