{% extends 'CIResults/base.html' %}

{% block title %}Passrate per runconfig{% endblock %}

{% block content %}
    {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Passrate trend
        </div>
        <div class="panel-body">
            <canvas id="PassrateChart" data-chart-type="trend_chart" data-chart-unit="%" data-chart-data="{{history.chart.stats}}" height="450"></canvas>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#tabular_view" class="text-info">
                Tabular view of the passrate ({{history.runconfigs|length}} runconfigs, {{history.statuses|length}} statuses) - Discarded rate: {{history.discarded_rate}}
            </a><a class="btn btn-default btn-xs pull-right" href='data:application/csv,{{history.to_csv|iriencode}}' download='passrate.csv' title="Download as CSV"><span class="glyphicon glyphicon-download-alt"/> CSV</a>
        </div>
        <div id="tabular_view" class="panel-body panel-collapse collapse">
            <!-- TODO: Add a chart with all the statuses over time -->
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                <tr>
                    <th>Run Config</th>
                    {% for status in history.statuses %}
                        <th>{{status}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for runconfig, statuses in history.runconfigs.items %}
                        <tr>
                            <td data-sorttable-customkey="{{runconfig.added_on|date:'U'}}">
                                {% include "CIResults/basic/runconfig_lite.html" with runconfig=runconfig %}
                            </td>
                            {% for status, passrate in statuses.items %}
                            <td data-sorttable-customkey="{{passrate.percent}}"> {{passrate}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-warning">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                Most-hit issues ({{history.most_hit_issues|length}})
            </a>
        </div>
        <div id="most-hit-issues" class="panel-body panel-collapse collapse">
            <div class="form-inline column-selector" data-table-class='bugs' data-table-downloadable-as='most-hit-issues.csv'></div>
            <table class="table table-striped table-hover table-bordered table-sm sortable bugs">
                <thead>
                <tr>
                    <th data-visibility='always'>Bug ID</th>
                    <th data-visibility='show'>Bug Status</th>
                    <th data-visibility='show'>Last Updated</th>
                    <th data-visibility='show'>Bug Summary</th>
                    <th>Component</th>
                    <th>Priority</th>
                    <th>Severity</th>
                    <th>Tags</th>
                    <th>Assignee</th>
                    <th data-visibility='always'>Hit rate</th>
                </tr>
                </thead>
                <tbody>
                    {% for issue, rate in history.most_hit_issues.items %}
                        <tr>
                        <!-- Bug ID -->
                        <td>
                        {% include "CIResults/basic/issue_minimal.html" with issue=issue %}
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{% include "CIResults/basic/bug.html" %}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Status -->
                        <td>
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.status}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Updated -->
                        <td>
                        <ul>
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.updated|timesince}} ago</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Bug Summary -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.title}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Component -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.component}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Priority -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.priority}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Severity -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.severity}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Tags -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{% if bug.tags_list|length > 0 %}{{bug.tags_list|join:", "}}{% else %}No tags found{% endif %}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <!-- Assignee -->
                        <td>
                        <ul id="issue_{{ forloop.counter0 }}">
                        {% for bug in issue.bugs_cached %}
                            <li>{{bug.assignee}}</li>
                        {% endfor %}
                        </ul>
                        </td>

                        <td>{{rate}}</td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="5" style="text-align: center;">No issues hit</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
