{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}Test history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the test {{test}}
        <div class="btn-group pull-right">
            {% if perms.CIResults.change_test %}
            <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu">
                {% if perms.CIResults.change_test %}
                    <li><a href="{% url 'CIResults-test-edit' test.id %}"><span class="glyphicon glyphicon-pencil"/> Edit</a></li>
                {% endif %}
                 <!-- TODO: add suppress / vet methods here -->
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Test suite</td><td>{% include "CIResults/basic/testsuite.html" with testsuite=test.testsuite %}</td></tr>
                <tr><td>Added On</td><td>{{test.added_on}}</td></tr>
                <tr><td>Vetted On</td><td>{{test.vetted_on|default:"Not vetted yet"}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
