{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}TestSuite history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the testsuite {{testsuite}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Description</td><td>{{testsuite.description}}</td></tr>
                <tr><td>Project URL</td><td><a href="{{testsuite.url}}">{{testsuite.url}}</a></td></tr>
                <tr><td>Public</td><td>{{testsuite.public}}</td></tr>
                <tr><td>Vetted on</td><td>{{testsuite.vetted_on|default:"Not vetted yet"}}</td></tr>
                <tr><td>Acceptable statuses</td><td>{{testsuite.acceptable_statuses.all|csl:"status:CIResults/basic/textstatus.html"}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
